@model Trss.Models.DownloadRelease

@{
    ViewBag.Title = "Add Hash";
}

<h1>Add From Url</h1>


@using (Html.BeginForm("AddHash", "Releases", FormMethod.Post, new {@class = "form-horizontal releases-search"}))
{
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(model => model.MovieTitleClean, new {@class = "col-sm-1 control-label"})
        <div class="col-sm-11">
            @Html.TextBoxFor(model => model.MovieTitleClean, new {@class = "form-control"})
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.TorrentHash, new {@class = "col-sm-1 control-label"})
        <div class="col-sm-11">
            @Html.TextBoxFor(model => model.TorrentHash, new {@class = "form-control"})
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-11">
            <input type="submit" value="Submit"/>
        </div>
    </div>
}

